.home_page_layout_box{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.home_content_box{
    width: 100%;
    /* height: calc( 100% - 95px); */
    flex: 1;
    overflow: auto;
    background: #ddd;
}
.ignore_tab_bar_box{
    height: 50px;
}