
.pull-to-refresh-box {
  .am-list-footer{
    padding: 9px 15px 5px;
  }
  .refresh-footer-desc{
    display: flex;
    height: 30PX;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
}